.App {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body{
  background-image: url('./assets/background-page.png');
}
header{
  background-image: url('./assets/background-header.png');
  background-image: cover;
}